*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
:root{
    --white:#ffffff;
    --off-white:#e5e5e5;
    --transp-white-1:rgba(255,255,255,0.25);
    --transp-white-2::rgba(255,255,255,0.2);
    --blue1:#62b8f5;
    --blue2:#4475e5;
    --shadow:rgba (3,46,87,0.2);
}
body{
    height:100vh;
    background:linear-gradient(135deg,var(--blue-1),var(--blue2))

}
.wrapper{
    font-size: 16px;
    width: 90vw;
    max-width:28em;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}
container{
    width:100%;
    background:var(--var}